@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply bg-blue-600 text-white;
    @apply font-bold;
    @apply py-2 px-4;
    @apply rounded;
    @apply text-sm;
    @apply transition-all;
}

button:hover {
    @apply transition-all;
    @apply bg-blue-700;
}

.btn__sm {
    @apply px-3;
    @apply text-xs;
}

.btn__xs {
    @apply px-2 py-1;
    @apply text-xs;
}

.heading__sm {
    @apply text-sm;
    @apply font-bold;
    @apply text-gray-600;
}

html,
body,
main,
div {
    scroll-behavior: smooth;
}


// vue transitions

.fade-enter-active {
    transition: all 0.2s ease-in;
    opacity: 0;
}

.fade-leave-active {
    transition: all 0.2s ease-out;
    opacity: 1;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave {
    opacity: 1;
}